<div class="container-scroller">
  <!-- partial:partials/_navbar.html -->
  <app-navbar></app-navbar>
      <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_settings-panel.html -->
    

    <!-- partial -->
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <app-sidebar></app-sidebar>
    </nav>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">


    <!--    <div class="container">
          <div class="position-absolute start-100 bottom-0 translate-middle-x d-none d-xl-block ms-xl-n4"><img src="assets/img/dest/shape.svg" alt="destination" /></div>
          <div class="row">
            <div class="col-md-4 mb-4" >
              <div class="card overflow-hidden shadow" style="size:250px;"> <img class="card-img-top" style="size:250px;" src="../../../assets/client.jpg" alt="" />

              </div>
            </div>

            <div class="col-md-4 mb-4" >
              <div class="card overflow-hidden shadow" style="size:250px;"> <img class="card-img-top" style="size:250px;" src="../../../assets/agent.png" alt="" />

              </div>
            </div>

          </div>
        </div>--> <!-- end of .container-->



        <router-outlet></router-outlet>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <app-footer></app-footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>




<!-- <app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<router-outlet></router-outlet>
<app-footer></app-footer> -->
