  <div class="bo">
    <!-- Navbar -->

    <div
      class="header"
      style="
        margin-bottom: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        padding: 50px;
      "
    >
      <div class="contact-mail">
        <h2>CONTACT</h2>
        <h3>Got a problem to solve?</h3>
        <p style="margin-top: 10px; margin-bottom: 10px">
          Get your space suit ready and tell me your ideas to develop your dream
          application.
        </p>
        <span style="font-weight: 700">HomePet@mail.com</span>
      </div>
      <div class="contact-form">
        <form [formGroup]="formGroup" (ngSubmit)="contact()">
          <span>NAME: </span>
          <input type="text" formControlName="nom" name="nom" />
          <span>E-MAIL: </span>
          <input type="email" formControlName="email" name="email" />
          <span>MESSAGE: </span>
          <textarea name="message" id="message" formControlName="description" cols="30" rows="10"></textarea>
          <button type="submit" class="primary-btn" style="margin-top: 20px;">Submit</button>
        </form>
      </div>
    </div>
  </div>

