<div class="about-us">
    <h3>Our Advice</h3>

    <div class="card-information">
        <div class="left-section-inf">
            <img src="./assets//im3.jpeg" alt="information-picture" />
        </div>
        <div class="right-section-inf">
            <h3>Cat </h3>
           
            <p> 1 : Soyez patient : Le dressage des chats peut prendre du temps. <br>
            </p>
            <p> 2 : Ne forcez pas : Respectez ses limites et essayez à nouveau plus tard.<br>
            </p>
            <p> 3 : Offrez-lui un environnement sûr à l'intérieur ou un accès contrôlé à l'extérieur.<br>
            </p>
            <p> 4 : Réservez du temps pour les câlins et les moments de détente avec votre chat.<br>
            </p>
            <p> 5 : Faites vacciner et vermifuger votre chat régulièrement pour prévenir les maladies.<br>

            </p>
        </div>
    </div>
    
</div>
<div class="about-us">

    <div class="card-information">
        <div class="left-section-inf">
            <img src="./assets//im1.jpg" alt="information-picture" />
        </div>
        <div class="right-section-inf">
            <h3>Dog </h3>
           
            <p>             1 : Établir une communication claire : Utilisez des signaux visuels et verbaux simples et cohérents pour communiquer avec votre chien. 
                <br>
            </p>
            <p> 2 : Utilisez des renforcements positifs : Récompensez votre chien avec des friandises, des éloges et des caresses chaque fois qu'il exécute correctement le comportement souhaité. 
                <br>
            </p>
            <p> 3 : Utilisez des séances d'entraînement courtes et régulières entre de 5 à 10 minutes plusieurs fois par jour.
                <br>
            </p>
            <p> 4 : Soyez patient et persévérant :  Répétez régulièrement les exercices d'entraînement et faites preuve de patience.
                <br>
            </p>
            <p> 5 : Évitez les punitions physiques : Optez plutôt pour des méthodes positives et basées sur la récompense.
                <br>

            </p>
            <p>6 : Entraînez votre chien dans des environnements variés </p>
            

        </div>
    </div>
    
</div>
<div class="about-us">

    <div class="card-information">
        <div class="left-section-inf">
            <img src="./assets//im2.jpg" alt="information-picture" />
        </div>
        <div class="right-section-inf">
            <h3>Bird </h3>
           
            <p> 1 : Fournissez une alimentation équilibrée spécifique à l'espèce de votre oiseau, y compris des graines, des fruits, des légumes et des protéines.
                <br>
            </p>
            <p> 2 : Offrez-lui une cage spacieuse et sûre, avec des perchoirs de différentes tailles et des jouets pour l'enrichissement.
                <br>
            </p>
            <p> 3 : Assurez-vous que la cage est nettoyée régulièrement pour maintenir un environnement propre.<br>
            </p>
            <p> 4 : Permettez à votre oiseau de sortir de sa cage tous les jours pour voler et se dégourdir les ailes en toute sécurité.
                <br>
            </p>
            <p> 5 : Offrez-lui beaucoup d'interactions sociales, de jeux et de stimulations mentales.
                <br>

            </p>
            <p>6 : Veillez à ce que votre oiseau ait un accès constant à de l'eau fraîche
            </p>
            



        </div>
    </div>
    
</div>