
<div class="content-wrapper ">
  <div class="row">
    <div class="col-md-9 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">Add a new partner</h4>

          <form [formGroup]="formGroup" (ngSubmit)="addPub()" class="forms-sample">
            <div class="form-group">
              <label >Nom</label>
              <input type="text" class="form-control" formControlName="nom" id="nom" placeholder="Nom">
            </div>
            <div class="form-group">
              <label >Description</label>
              <input type="text" class="form-control" formControlName="description" id="description" placeholder="Description">
            </div>
            <div class="form-group">
              <label>email</label>
              <input type="email" class="form-control" formControlName="email" id="email" placeholder="Email">
            </div>
            <div class="form-group">
              <label>Telephone</label>
              <input type="text" class="form-control" formControlName="tel" id="tel" placeholder="Telephone">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect3">Type</label>
              <select class="form-control form-control-sm" formControlName="type" id="exampleFormControlSelect3">
                <option formControlName="type">Animalerie</option>
                <option formControlName="type">Vétérinaire</option>
                <option formControlName="type">Dresseur</option>
                <option formControlName="type">Psychologe</option>
              </select>
            </div>

              <div class="custom-file">
                <input type="file"  class="custom-file-input" (change)="handleFileInput($event)">
               <label class="custom-file-label">Image</label>
               </div>
               <br>
            <button type="submit" class="btn btn-primary me-2">Submit</button>
            <button class="btn btn-light" routerLink="../publication">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



